{{ url = 'https://player.mux.com/' + playback_id }}

{{ modifiers = arr(
  "autoplay" => background || autoplay || null,
  "loop" => background || loop || null,
  "muted" => background || muted || null,
) }}

{{ params = arr() | merge('playback_attributes') | merge('modifiers') | merge('attributes') }}

{{ qs = params | to_qs }}
{{ if qs }}
  {{ url = url + '?' + qs }}
{{ /if }}

<iframe
  src="{{ url }}"
  width="{{ width }}"
  height="{{ height }}"
  {{ foreach:attributes as="attr|value" }}
    {{ if attr }} {{ attr }}="{{ value }}" {{ /if }}
  {{ /foreach:attributes }}
></iframe>
