<mux-player
  playback-id="{{ playback_id }}"
  {{ if is_signed }}
    playback-token="{{ playback_token }}"
    thumbnail-token="{{ thumbnail_token }}"
    storyboard-token="{{ storyboard_token }}"
  {{ else }}
    {{ foreach array="playback_modifiers" as="attr|value" }}
      {{ attr }}="{{ value }}"
    {{ /foreach }}
  {{ /if }}
  poster="{{ thumbnail }}"
  preload="metadata"
  width="{{ width }}"
  height="{{ height }}"
  {{ foreach array="attributes" as="attr|value" }}
    {{ attr }}="{{ value }}"
  {{ /foreach }}
></mux-player>

{{ if script }}
  <script async src="https://unpkg.com/@mux/mux-player@3"></script>
{{ /if }}
