<mux-video
  {{ if is_signed }}
    playback-id="{{ playback_id }}?token={{ playback_token }}"
  {{ else }}
    playback-id="{{ playback_id }}"
    {{ foreach array="playback_modifiers" as="attr|value" }}
      {{ attr }}="{{ value }}"
    {{ /foreach }}
  {{ /if }}
  poster="{{ thumbnail }}"
  preload="metadata"
  width="{{ width }}"
  height="{{ height }}"
  playsinline
  {{ foreach array="attributes" as="attr|value" }}
    {{ attr }}="{{ value }}"
  {{ /foreach }}
></mux-video>

{{ if script }}
  <script async src="https://unpkg.com/@mux/mux-video@0"></script>
{{ /if }}
